<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <body>
    <div class="container">
    <a href="/spaces/new">add a space</a>

      <% @spaces.each do |space| %>
      <p> <a href="/spaces/space/<%= space.id %>"><img src="<%= space.hero_image %>" alt="hero"> </a></p>
      <p> name: <%= space.name %> </p>
      <p> city: <%= space.city %> </p>

          <form action='/spaces/<%= space.id %>' method='post'>
            <input type="submit" name="<%= space.id %>" value="see more">
          </form>
      <% end %>
    </div>

  </body>
</html>
