<p><img src="<%= @space.hero_image %>" alt="hero"> </p>
<p> name: <%= @space.name %> </p>
<p> description: <%= @space.description %> </p>
<p> price: <%= @space.price %> per night </p>
<p> city: <%= @space.city %> </p>
